@mixin background-gradient {
  $color-columns: (
    ('red', 'green', 'blue', 'magenta', 'cyan', 'yellow', 'white', 'black', 'gray'),
    ('magenta', 'cyan', 'red', 'green', 'blue', 'white', 'black', 'yellow', 'gray'),
    ('green', 'cyan', 'red', 'magenta', 'white', 'blue', 'black', 'gray', 'yellow'),
    ('white', 'blue', 'black', 'gray', 'yellow', 'green', 'cyan', 'red', 'magenta'),
    ('white', 'blue', 'yellow', 'cyan', 'red', 'magenta', 'green', 'black', 'gray'),
    ('red', 'magenta', 'green', 'black', 'gray', 'white', 'blue', 'yellow', 'cyan'),
    ('green', 'black', 'red', 'magenta', 'gray', 'yellow', 'cyan', 'white', 'blue'),
    ('gray', 'black', 'red', 'magenta', 'cyan', 'yellow', 'white', 'blue', 'green'),
    ('black', 'white', 'blue', 'yellow', 'green', 'gray', 'cyan', 'red', 'magenta')
  );
  $color-stops: (
    ('0px', '13px', '26px', '30px', '47px', '50px', '69px', '71px', '72px', '100px'),
    ('0px', '17px', '19px', '20px', '43px', '50px', '60px', '71px', '79px', '160px'),
    ('0px', '1px', '9px', '20px', '23px', '30px', '66px', '77px', '79px', '100px'),
    ('0px', '17px', '19px', '20px', '43px', '50px', '60px', '71px', '79px', '160px'),
    ('0px', '13px', '26px', '30px', '47px', '50px', '69px', '71px', '72px', '100px'),
    ('0px', '1px', '9px', '20px', '23px', '30px', '66px', '77px', '79px', '100px'),
    ('0px', '17px', '19px', '20px', '43px', '50px', '60px', '71px', '79px', '160px'),
    ('0px', '1px', '9px', '20px', '23px', '30px', '66px', '77px', '79px', '100px'),
    ('0px', '1px', '9px', '20px', '23px', '30px', '66px', '77px', '79px', '100px')
  );

  $columns: "repeating-linear-gradient(to left, #{gradient-row(nth($color-columns, 1), nth($color-stops, 1)))})";
  @for $i from 2 through length($color-columns) {
    $columns: $columns#{', '}#{"repeating-linear-gradient(to left, #{gradient-row(nth($color-columns, $i), nth($color-stops, $i)))})"};
  }

  $sizes: "100% 10%";
  @for $i from 2 through length($color-columns) {
    $sizes: $sizes#{', 100% '}#{10 * $i}#{"%"};
  }

  background-image: unquote($columns);
  background-size: unquote($sizes);
  background-repeat: no-repeat;
}

















@mixin background-gradient2 {
  background-image:
    repeating-linear-gradient(to left, blue 00%, blue 10%, red 10%, red 20%, lime 20%, lime 30%),
    repeating-linear-gradient(to left, lightblue 00%, lightblue 10%, brown 10%, brown 20%, yellow 20%, yellow 30%);
  background-size:
    100% 50%,
    100% 100%;
  background-repeat: no-repeat;
}






// http://css-class.com/test/css/3/colors/rgb-aliasing-gradient.htm
@mixin background-gradient3 {
  background-image:
    repeating-linear-gradient(to left, blue 0.0%, blue 0.1%, red 0.1%, red 0.2%, lime 0.2%, lime 0.3%),
    repeating-linear-gradient(to left, red 0%, red 0.1%, blue 0.1%, blue 0.2%, lime 0.2%, lime 0.3%),
    repeating-linear-gradient(to left, blue 0.0%, blue 0.1%, red 0.1%, red 0.2%, lime 0.2%, lime 0.3%),
    repeating-linear-gradient(to left, aqua 0%, aqua 0.1%, fuchsia 0.1%, fuchsia 0.2%, yellow 0.2%, yellow 0.3%),
    repeating-linear-gradient(to left, aqua 0%, aqua 0.1%, yellow 0.1%, yellow 0.2%, fuchsia 0.2%, fuchsia 0.3%),
    repeating-linear-gradient(to left, yellow 0.0%, yellow 0.1%, aqua 0.1%, aqua 0.2%, fuchsia 0.2%, fuchsia 0.3%),
    repeating-linear-gradient(to left, white 0.0%, white 0.1%, black 0.1%, black 0.2%),
    repeating-linear-gradient(to left, aqua 0.0%, aqua 0.1%, fuchsia 0.1%, fuchsia 0.2%),
    repeating-linear-gradient(to left, red 0%, red 0.1%, lime 0.1%, lime 0.2%);
  background-size:
    100% 10%,
    100% 20%,
    100% 30%,
    100% 40%,
    100% 50%,
    100% 60%,
    100% 70%,
    100% 80%,
    100% 90%;
  background-repeat: no-repeat;
}
