// Create a gradient matrix
// - it has to have min two rows
// - if only a single row needed the __row mixin should be used instead
@mixin background-gradient($color-columns, $color-stops) {
  
  $columns: "repeating-linear-gradient(to left, #{gradient-row(nth($color-columns, 1), nth($color-stops, 1)))})";
  @for $i from 2 through length($color-columns) {
    $columns: $columns#{', '}#{"repeating-linear-gradient(to left, #{gradient-row(nth($color-columns, $i), nth($color-stops, $i)))})"};
  }

  $sizes: "100% 10%";
  @for $i from 2 through length($color-columns) {
    $sizes: $sizes#{', 100% '}#{10 * $i}#{"%"};
  }

  background-image: unquote($columns);
  background-size: unquote($sizes);
  background-repeat: no-repeat;
}



@mixin background-gradient2 {
  background-image:
    repeating-linear-gradient(to left, blue 00%, blue 10%, red 10%, red 20%, lime 20%, lime 30%),
    repeating-linear-gradient(to left, lightblue 00%, lightblue 10%, brown 10%, brown 20%, yellow 20%, yellow 30%);
  background-size:
    100% 50%,
    100% 100%;
  background-repeat: no-repeat;
}
