@mixin monogram($width, $height, $scale) {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include colors(cyan-on-magenta);
  @include border--thick(all);
  padding: $lem;



  &__row {
    @include monogram__row($width, $height, $scale);
  }
}
