@mixin monogram($width, $height, $scale) {
  position: relative;
  
  display: flex;
  flex-direction: column;

  @include border--thick(all);

  &__row {
    @include monogram__row($width, $height, $scale);
  }
}
