@mixin monogram {
  position: absolute;
  z-index: 0;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  &__row {
    @include monogram__row(100vw, 100vh);
  }
}
