@mixin monogram__text {
  @include monogram__text--portrait;
  @include monogram__text--landscape;

  .title {
    display: flex;

    padding: 3vh 3vw;
    width: 94vw;
    height: 94vh;

    @include text-style(title);
    line-height: 1;

    @include text-clipping-mask(white-on-black, darken);
    text-align: justify;
  }

  .title--size-enlarged {
    @include monogram__text--size-enlarged;
  }
}
