@mixin monogram__text {
  .title {
    display: flex;

    width: 100vw;
    height: 100vh;

    @include text-style(title);
    line-height: 1;

    @include text-clipping-mask(white-on-black, darken);
    text-align: justify;
  }

  @include monogram__text--portrait;
  @include monogram__text--landscape;
}
