@mixin icons__background--squares {
  $size: $lem;

  background-image:
    repeating-linear-gradient(to left,
      gainsboro calc(0 * #{$size}),
      gainsboro calc(1 * #{$size}),
      darkgray calc(1 * #{$size}),
      darkgray calc(2 * #{$size}),
      black calc(2 * #{$size}),
      black calc(3 * #{$size}),
      silver calc(3 * #{$size}),
      silver calc(4 * #{$size}),
      dimgray calc(4 * #{$size}),
      dimgray calc(5 * #{$size})
    ),
    repeating-linear-gradient(to left,
      silver calc(3 * #{$size}),
      silver calc(4 * #{$size}),
      darkgray calc(1 * #{$size}),
      darkgray calc(2 * #{$size}),
      black calc(2 * #{$size}),
      black calc(3 * #{$size}),
      dimgray calc(4 * #{$size}),
      dimgray calc(5 * #{$size}),
      gainsboro calc(0 * #{$size}),
      gainsboro calc(1 * #{$size})
    );
  background-size:
    100% 5vh,
    100% 10vh;
  background-repeat: no-repeat;
}
