// http://davidwalsh.name/css-cube
@mixin cube($size: 200px) {
  &__wrap {
  	@include cube__wrap;

    .cube3d {
      @include cube3d($size);
      @include cube3d--spin-vertical($size);
      //@include cube3d--spin-horizontal;

      &__face {
        border: 1px solid;

        display: flex;
        justify-content: center;
        align-items: center;

        .icomoon {
          @include icomoon($lem, white-on-blue);
        }
      }
    }
  }
}
