@mixin cube3d--spin-vertical ($size){
  @keyframes spin-vertical {
    from { transform: rotateX(0); }
    to { transform: rotateX(-360deg); }
  }

  margin: 0 auto; /* keeps the cube centered */

	transform-origin: 0 $size / 2;
	animation: spin-vertical 5s infinite linear;

  &__face {
    &--top {
    	transform: rotateX(-270deg) translateY(-$size / 2);
    }

    &--back {
    	transform: translateZ(-$size / 2) rotateX(180deg);
    }

    &--bottom {
    	transform: rotateX(-90deg) translateY($size / 2);
    }
  }
}
