@mixin avatar--portrait($width) {
  @include portrait {
    flex-direction: column;

    &__image {
      @include avatar__image($width);
    }

    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
