@mixin cube3d__face($size, $color-scheme, $color-scheme-hover, $color-for-background-faces) {
  position: absolute;
  width: $size;
  height: $size;
  background: $color-for-background-faces;

  border: 1px solid;

  display: flex;
  justify-content: center;
  align-items: center;

  .icomoon {
    @include icomoon($lem, $color-scheme);
  }

  &.mouseover {
    @include colors($color-scheme-hover);

    .icomoon {
      @include icomoon($lem, $color-scheme-hover);
    }
  }





  &--front {
    transform: rotateX(90deg) translateZ($size / 2);
  }

  &--back {
    transform: translateZ($size / 2);
  }

  &--top {
    transform: rotateY(90deg) translateZ($size / 2);
  }

  &--bottom {
    transform: rotateY(180deg) translateZ($size / 2);
  }

  &--left {
    transform: rotateY(-90deg) translateZ($size / 2);
  }

  &--right {
    transform: rotateX(-90deg) translateZ($size / 2) rotate(180deg);
  }


}
