@mixin polyhedron {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  transform-style: preserve-3d;
  margin: 50px;
  perspective: 500px;

  .polyhedron-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: polyhedron-rotate 10s ease-in-out infinite;
  }

  * {
    transform-style: preserve-3d
  }

  &__triangle {
    @include polyhedron__triangle;
  }

  &__square {
    @include polyhedron__square;
  }

  &__pentagon {
    @include polyhedron__pentagon;
  }

  &--tetrahedron {
    @include polyhedron--tetrahedron;
  }

  &--hexahedron {
    @include polyhedron--hexahedron;
  }

  &--octahedron {
    @include polyhedron--octahedron;
  }

  &--dodecahedron {
    @include polyhedron--dodecahedron;
  }
}

@keyframes polyhedron-rotate {
  from {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  to {
    transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
  }
}
