// Colors
//
// The colors together with the color pairs.
// Colors don't exist alone yet in pairs, like black on white.
// All color pairs have a contrast ratio set for perfect readability using [Lea Verou's contrast checking tool](http://leaverou.github.io/contrast-ratio/).
//
// Styleguide colors

// Main color
$white: #fff;

// Main color
$black: #000;

// Main color
$magenta: rgb(255,0,255);

// Main color
$cyan: rgb(0,255,255);


// Color combinations. Colors are not used standalone but in pairs
@mixin colors($name) {

  @if ($name == 'white-on-black') {
    color: $white;
    background-color: $black;
    
  }

  @if ($name == 'cyan-on-magenta') {
    color: $cyan;
    background-color: $magenta;
    
  }

}

// Color classes

.white {
  background: #fff;
};

.black {
  background: #000;
};

.magenta {
  background: rgb(255,0,255);
};

.cyan {
  background: rgb(0,255,255);
};


// Color pair classes

.white-on-black {
  color: $white;
  background-color: $black;
  
}

.cyan-on-magenta {
  color: $cyan;
  background-color: $magenta;
  
}

