// Colors
//
// The colors together with the color pairs.
// Colors don't exist alone yet in pairs, like black on white.
// All color pairs have a contrast ratio set for perfect readability using [Lea Verou's contrast checking tool](http://leaverou.github.io/contrast-ratio/).
//
// Styleguide colors

// Main color
$white: #fff;

// Main color
$brown: rgba(164, 130, 93, 1);

// Secondary color
$lightbrown: rgba(164, 130, 93, 0.5);


// Color combinations. Colors are not used standalone but in pairs
@mixin colors($name) {

  @if ($name == 'white-on-brown') {
    color: $white;
    background-color: $brown;
    
  }

  @if ($name == 'brown-on-white') {
    color: $brown;
    background-color: $white;
    
  }

}

// Color classes

.white {
  background: #fff;
};

.brown {
  background: rgba(164, 130, 93, 1);
};

.lightbrown {
  background: rgba(164, 130, 93, 0.5);
};


// Color pair classes

.white-on-brown {
  color: $white;
  background-color: $brown;
  
}

.brown-on-white {
  color: $brown;
  background-color: $white;
  
}

