// Colors
//
// The colors together with the color pairs.
// Colors don't exist alone yet in pairs, like black on white.
// All color pairs have a contrast ratio set for perfect readability using [Lea Verou's contrast checking tool](http://leaverou.github.io/contrast-ratio/).
//
// Styleguide colors

// Main color
$pink: #D461B3;

// Main color
$black: #000;

// Main color
$white: #fff;


// Color combinations. Colors are not used standalone but in pairs
@mixin colors($name) {

  @if ($name == 'white-on-black') {
    color: $white;
    background-color: $black;
    
  }

  @if ($name == 'pink-on-black') {
    color: $pink;
    background-color: transparent;
    
  }

}

// Color classes

.pink {
  background: #D461B3;
};

.black {
  background: #000;
};

.white {
  background: #fff;
};


// Color pair classes

.white-on-black {
  color: $white;
  background-color: $black;
  
}

.pink-on-black {
  color: $pink;
  background-color: transparent;
  
}

