html {
  &.home {
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      min-height: 100vh;

      .monogram {
        @include monogram(30vh, 30vh, 0.5);
      }

      .cube {
        @include cube(white-on-brown, $lem * 4);
      }
    }
  }
}
