html {
  &.home {
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      min-height: 100vh;

      @include home--fadeout;


      .monogram {
        @include monogram(40vh, 50vh, .5);
        display: none;
      }

      .icons {
        @include icons(white-on-blue);
        display: none;
      }

      .cube {
        @include cube($lem * 4);
      }
    }
  }
}
