@mixin icons($color-scheme) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  $palette: color-palette(3, #000, #fff);
  $color-columns:
    $palette,
    randomize-list($palette);
  $color-stops:
    gradient-stops(3, 1%),
    0px 10px 20px 30px;

  @include background-gradient($color-columns, $color-stops);

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .icomoon {
    @include icomoon($lem, $color-scheme);
    padding: $lem / 2;
  }
}
