<section class="icons">
  <h3>Icons</h3>

  
  <aside class="polyhedra">
  <h3>Polyhedra</h3>

  
    <div class="polyhedron polyhedron--tetrahedron">
  <div class="polyhedron-container">
    
      <div class="polyhedron__face polyhedron__triangle"></div>
    
      <div class="polyhedron__face polyhedron__triangle"></div>
    
      <div class="polyhedron__face polyhedron__triangle"></div>
    
      <div class="polyhedron__face polyhedron__triangle"></div>
    
  </div>
</div>

  

</aside>

</section>
