@mixin icons($color-scheme) {
  position: relative;
  z-index: 2;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  .icomoon {
    @include icomoon($lem, $color-scheme);
    padding: $lem / 2;
  }
}
