// Returns a single gradient from start to stop
@function gradient($color, $start, $stop) {
  @return "#{$color} #{$start}, #{$color} #{$stop}";
}

// Returns multiple gradients
@function gradient-row($colors, $stops) {
  // Returns a complete list of gradients
  $gradients: #{gradient(nth($colors, 1), nth($stops, 1), nth($stops, 2))};
  @for $i from 2 through length($colors) {
    $gradients: $gradients#{', '}#{gradient(nth($colors, $i), nth($stops, $i), nth($stops, $i+1))};
  }

  @return unquote($gradients);
}


@mixin background-gradient__row($colors, $stops) {
  background-image: repeating-linear-gradient(to left, gradient-row($colors, $stops));
}
