@mixin cube3d($size, $color-scheme, $color-scheme-hover, $color-for-background-faces) {
  position: relative;
  margin: 0 auto;
  height: $size;
  width: $size;
  transition: transform 1.5s linear;
  transform-style: preserve-3d;


  &__face {
    @include cube3d__face($size, $color-scheme, $color-scheme-hover, $color-for-background-faces);
  }
}
